@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* general shared style */
* {
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    height: 600px;
    margin: 50px auto;
    border-radius: 20px;
}
/* banner-section style */
.banner {
    margin: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image:linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)), url(../image/Banner\ Image.png);
}
.banner-small-title {
    font-weight: 100;
    padding: 130px 0 0px 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 90px;
}
/* banner section style-end */
/* new-year-section style start */
.new-year-section-offer {
    color: #F00;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
}
.new-year-section-second-title {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.new-year-section-catagories {
    color: #070211;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: 0;
}
.new-year-pic {
    text-align: center;
}
/* new-year section style end *
/* second section style start */
.midnight-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../image/Vectorrr.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.midnight-text-container {
    text-align: left;
    margin-top: 100px;
    margin-left: 100px;
}
.midnight-title {
    width: 500px;
    height: auto;
    color: #FFF;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0;
}
.midnight-description {
    width: 400px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}
.btd-join-now {
    margin-top: 45px;
    padding: 10px 30px;
    align-items: center;
    background-color: rgba(55, 55, 55, 0.127);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
}
.btd-join-now:hover {
    background-color: rgba(255, 0, 0, 0.554);
    transition: all 0.5s;
}
.midnight-inner-img {
    margin: 100px 100px 0 0;
    position: relative;  
}
/* midnight section style end */
/* party time section style stat */
.party-time-section-container {
    background-image: none;
    background-color: #FFEAEA;
    text-align: center;
}
.party-time-section-details {
    padding-top: 100px;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
.important-text {
    color: #F00;
    font-weight: 900;
}
.extra {
    background: linear-gradient(to bottom, #3333cc 0%, #ff99cc 100%);
    color: #FFF;
    font-weight: 700;
    margin-top: 10px;
}
/* party time section style end */